In [1]:
import sys
sys.path.append('/Users/ianleefmans/Desktop/stock-sentiment/utils')
from data import Database, ScrapeWSB, Stock
%cd /Users/ianleefmans/Desktop/stock-sentiment

/Users/ianleefmans/Desktop/stock-sentiment

In [2]:
import transformers
import torch
from transformers import BertTokenizer, BertForSequenceClassification

In [37]:

db = Database()
db.use_database('DB1')

print(db.query('show tables;'))

connection established
[(datetime.datetime(2021, 5, 28, 16, 21, 30),)]
[('COMMENTS',), ('POSTS',), ('STOCKS',)]

In [17]:
print(db.query('''SELECT * FROM STOCKS ;'''))

[('GME', datetime.datetime(2021, 5, 14, 1, 43, 41))]

In [ ]:
indexes = db.query('''SELECT POST_ID FROM POSTS;''')

In [39]:
db.query("SELECT TITLE FROM POSTS WHERE POST_ID='{}' AND STOCK_ID='{}'".format(indexes[0][0], 'GME'))[0][0]

"I, too, YOLO'D my retirement account into GME when I switched jobs. PICK ME UP ON THE WAY TO THE MOO"

In [45]:
indices = db.query("SELECT POST_ID FROM POSTS WHERE StOCK_ID='{}';".format("GME"))

In [62]:
db.query("SELECT COUNT(*) FROM POSTS WHERE StOCK_ID='{}';".format("GME"))[0][0]

10

In [2]:
db = Database()
db.use_database('DB1')
#db.drop_table("LABELED_POSTS")
#db.drop_table("LABELED_COMMENTS")

db.initialize_tables()

scrapewsb = ScrapeWSB('GME', 10, 10)

df = scrapewsb.scrape()
scrapewsb.convert(df)
print("DONE")

connection established
[(datetime.datetime(2021, 5, 29, 21, 59, 53),)]
connection established
[(datetime.datetime(2021, 5, 29, 21, 59, 54),)]

  0%|          | 0/10 [00:00<?, ?it/s]

connection established
[(datetime.datetime(2021, 5, 29, 21, 59, 56),)]

100%|██████████| 10/10 [01:37<00:00,  9.74s/it]

DONE

In [6]:
db = Database()
db.use_database('DB1')

connection established
[(datetime.datetime(2021, 5, 29, 21, 46, 30),)]

In [8]:
print(db.query('show tables;'))

[('POSTS',)]

In [4]:
print(db.query('''SELECT TARGET FROM POSTS ;'''))

[(-1,), (-1,), (-1,), (-1,), (-1,), (-1,), (-1,), (-1,), (-1,), (-1,)]

In [4]:
print(db.query('''SHOW COLUMNS FROM LABELED_POSTS;'''))

[('POST_ID', b'char(20)', 'NO', '', None, ''), ('TARGET', b'int', 'YES', '', None, ''), ('TITLE', b'char(100)', 'YES', '', None, '')]

In [4]:
db.drop_table("LABELED_POSTS")
db.drop_table("LABELED_COMMENTS")

In [4]:
db.drop_table('COMMENTS')
db.drop_table("POSTS")
db.drop_table("STOCKS")

In [3]:
db.drop_table("POSTS")

ProgrammingError: 1051 (42S02): Unknown table 'DB1.POSTS'